body {
    /* padding: 20px; */
}

.container {
    text-align: center;
    margin-top: 50px;
}

#weatherInfo {
    /* border: 1px solid #ddd; */
    padding: 20px;
}

.error {
    color: red;
}

footer {
    background-color: #555;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer li {
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

#bss{
    margin-top: 20px;
}

#bss i{
    color: red;
}

#insta{
    color: plum;
}
#fb{
    color: blue;
}
#tw{
    color: rgb(75, 132, 218);
}